[Desktop Entry]
Name=Pardus Remaster tools
Name[tr]=Pardus Remaster aracı
Comment=backup/restore system image
Comment[tr]=sistem imajını yedele/geri yükle
Exec=xterm -e "pkexec remaster"
Icon=/usr/share/icons/remaster.svg
Terminal=False
Type=Application
Categories=Application;System;
