[Desktop Entry]
Name=Pardus Remaster tools
Name[tr]=Pardus Remaster aracı
Comment=backup/restore system image
Comment[tr]=sistem imajını yedele/geri yükle
Exec=python3 /usr/lib/pardus/remaster/mani.py
Icon=/usr/share/icons/remaster.svg
Terminal=False
Type=Application
Categories=Application;System;
