Source: pardus-remaster
Section: utils
Priority: optional
Maintainer: Ali Riza Keskin <ali.riza.keskin@pardus.org.tr>
Build-Depends: make
Standards-Version: 4.3.0
Homepage: https://example.org

Package: pardus-remaster
Architecture: all
Depends: ${misc:Depends}
Description: create pardus iso images from system and install image into disk