Source: remaster
Section: utils
Priority: optional
Maintainer: Your Name <your.email@example.org>
Build-Depends: make
Standards-Version: 4.3.0
Homepage: https://example.org

Package: remaster
Architecture: all
Depends: ${misc:Depends}
Description: Edit me
 Edit me. I am description
